/** Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --mainColor1: #2b1055;
  --mainColor2: #7597de;
  --mainText: #fff;

  --hoverTextColor: #2b1055;
  --hoverBGC: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  /* ? min-height 100vh verildiği zaman linear-gradient sayfayı kaplıyor. */
  background: linear-gradient(var(--mainColor1), var(--mainColor2));
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--mainText);
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: var(--mainText);
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: var(--hoverBGC);
  color: var(--hoverTextColor);
}