/** Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --mainColor1: #2b1055;
  --mainColor2: #7597de;
  --mainText: #fff;

  --hoverTextColor: #2b1055;
  --hoverBGC: #fff;

  --btnBGColor: #fff;
  --btnTextColor: #2b1055;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  /* ? min-height 100vh verildiği zaman linear-gradient sayfayı kaplıyor. */
  background: linear-gradient(var(--mainColor1), var(--mainColor2));
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

header .logo {
  color: var(--mainText);
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: var(--mainText);
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: var(--hoverBGC);
  color: var(--hoverTextColor);
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
  /*? mix-blend-mode, bir eleman ile elemanın arkasındaki görüntünün karışmasını sağlayan CSS özelliğidir.  */
}

section img#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  color: var(--mainText);
  white-space: nowrap;
  /*? white-space özelliği, bir öğenin içindeki boş alanların nasıl kullanılacağını belirtir. */
  /*? white-space:Metin <br> etiketi ile karşılaşana kadar aynı satırda devam eder. */
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 36px;
  margin-top: 65px;
  border-radius: 40px;
  background: var(--btnBGColor);
  color: var(--btnTextColor);
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}